body
{
  text-align: center;
  background-image: url('../img/bear.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
h1
{
  background-color: yellow;
}
.container-fluid
{
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
  margin-top: 10%;
}
img
{
    border: 5px solid red;
}
